In [3]:
# create a string with your name and print it
Name = "RathnaKanaka Naga Dhana Harish"
print(Name)
print(type(Name))

RathnaKanaka Naga Dhana Harish
<class 'str'>

In [11]:
# length of the string "Hello World"
#String length method1:
input_text = input("Enter the string of your choice: ")
Str_len = len(input_text)
print(Str_len)

Enter the string of your choice: Hello World
11

In [21]:
#code to find the length of the string "Hello World"
Str_input = "Hello World"
count=0
for i in Str_input:
  count+=1
print(count)

11

In [76]:
# code to slice the first 3 characters from the string "Python Programming"
Str_input1 = "Python Programming"
print(Str_input1[:3])

Pyt

In [21]:
#code to convert the string "hello" to uppercase
Str_Input2= "hello"
print(Str_Input2.upper())

HELLO

In [25]:
#code to replace the word "apple" with "orange" in the string "I like apple"P
Test_String = "I like apple"
print(Test_String.replace('apple','orange'))

I like orange

In [14]:
# create a list with numbers 1 to 5
List1=[1,2,3,4,5]
print(List1)
print(type(List1))

[1, 2, 3, 4, 5]
<class 'list'>

In [77]:
#append the number 10 to the list [1, 2, 3, 4]
List2= [1, 2, 3, 4]
List2.append(10)
print(List2)

[1, 2, 3, 4, 10]

In [78]:
#code to remove the number 3 from the list [1, 2, 3, 4, 5]
List3= [1, 2, 3, 4, 5]
List3.remove(3)
print(List3)

[1, 2, 4, 5]

In [19]:
#access the second element
List_alphabets=['a','b','c','d']
print(List_alphabets[1])

b

In [22]:
#code to reverse the list
input_List= [10, 20, 30, 40, 50]
input_List.reverse()
print(input_List)

[50, 40, 30, 20, 10]

In [24]:
#code to create a tuple with the elements 100, 200, 300 and print it
input_tuple=(100,200,300)
print(input_tuple)
print(type(input_tuple))

(100, 200, 300)
<class 'tuple'>

In [26]:
#code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
input_tuple1=('red', 'green', 'blue', 'yellow')
print(input_tuple1[-2])

blue

In [28]:
 #find the minimum number in the tuple (10, 20, 5, 15).
 input_tuple2=(10, 20, 5, 15)
 print(min(input_tuple2))

5

In [30]:
#code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
input_tuple3=('dog', 'cat', 'rabbit')
print(input_tuple3.index('cat'))

1

In [32]:
# code to create a tuple containing three different fruits and check if "kiwi" is in it.
input_tuple4=('apple','banana','kiwi')
print('kiwi' in input_tuple4)

True

In [34]:
# code to create a set with the elements 'a', 'b', 'c' and print it
input_set={'a','b','c'}
print(input_set)
print(type(input_set))

{'a', 'c', 'b'}
<class 'set'>

In [36]:
#code to clear all elements from the set {1, 2, 3, 4, 5}.
input_set1={1, 2, 3, 4, 5}
input_set1.clear()
print(input_set1)

set()

In [38]:
#code to remove the element 4 from the set {1, 2, 3, 4}.
input_set2={1, 2, 3, 4}
input_set2.remove(4)
print(input_set2)

{1, 2, 3}

In [42]:
 #code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
 input_set3={1, 2, 3}
 input_set4={3, 4, 5}
 print(input_set3.union(input_set4))
 print(input_set3 | input_set4) # union

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [44]:
#code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
input_set5={1, 2, 3}
input_set6={2, 3, 4}
print(input_set5.intersection(input_set6))
print(input_set5 & input_set6) #intersection

{2, 3}
{2, 3}

In [47]:
# create a dictionary with the keys "name", "age", and "city", and print it

my_dict = {
    "name": "John Doe",
    "age": 30,
    "city": "New York"
}
print(my_dict)
print(type(my_dict))

{'name': 'John Doe', 'age': 30, 'city': 'New York'}
<class 'dict'>

In [50]:
#code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
my_dict1 = {'name': 'John', 'age': 25}
my_dict1['country'] = 'USA'
print(my_dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [52]:
#code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
my_dict2 = {'name': 'Alice', 'age': 30}
print(my_dict2['name'])

Alice

In [80]:
# code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict3 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict3.pop('age')
print(my_dict3)

{'name': 'Bob', 'city': 'New York'}

In [59]:
#code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict4 = {'name': 'Alice', 'city': 'Paris'}
print('city' in my_dict4)

True

In [62]:
# code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30, 40, 50)
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'name': 'John', 'age': 30, 'city': 'New York'}

In [82]:
# code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random

random_numbers = []
for i in range(5):
  random_numbers.append(random.randint(1, 100))

random_numbers.sort()
random_numbers

[7, 12, 39, 81, 85]

In [68]:
# code to create a list with strings and print the element at the third index
test_list1 = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(test_list1[3])

date

In [85]:
#code to combine two dictionaries into one and print the result
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [75]:
#code to convert a list of strings into a set
input_list = ['apple', 'banana', 'cherry', 'apple', 'banana']
input_set = set(input_list)
print(input_set)

{'banana', 'apple', 'cherry'}